<article
  class="rounded-2xl border shadow-sm hover:shadow-md transition-all duration-200 overflow-hidden flex flex-col h-full group"
  [class.bg-blue-50]="cartState.isProductInCart(id())" [class.border-blue-200]="cartState.isProductInCart(id())"
  [class.bg-white]="!cartState.isProductInCart(id())" [class.border-gray-100]="!cartState.isProductInCart(id())">

  <div [routerLink]="['/products', id()]"
    class="h-48 w-full bg-gray-50 flex items-center justify-center overflow-hidden relative cursor-pointer">
    @if (imageUrl(); as image) {
    <img [src]="image" [alt]="name()"
      class="w-full h-full object-contain group-hover:scale-105 transition-transform duration-300" />
    } @else {
    <div class="flex h-full w-full items-center justify-center bg-gray-100 text-sm text-gray-400">
      No image
    </div>
    }
  </div>

  <div [routerLink]="['/products', id()]" class="p-5 flex flex-col flex-grow cursor-pointer">

    <h3 class="text-lg font-bold text-gray-900 mb-1 line-clamp-2">
      {{ name() }}
    </h3>

    <p class="text-xl font-bold text-blue-600 mb-5 mt-auto pt-2">
      {{ amount() }} {{ currency() }}
    </p>

    <button type="button" (click)="$event.stopPropagation(); addToCart(product())"
      class="w-full font-medium py-2.5 px-4 rounded-lg transition-colors flex items-center justify-center gap-2"
      [class.bg-blue-600]="cartState.isProductInCart(id())" [class.text-white]="cartState.isProductInCart(id())"
      [class.bg-blue-50]="!cartState.isProductInCart(id())" [class.text-blue-600]="!cartState.isProductInCart(id())"
      [class.hover:bg-blue-600]="!cartState.isProductInCart(id())"
      [class.hover:text-white]="!cartState.isProductInCart(id())">

      @if (cartState.isProductInCart(id())) {
      <span>Added to cart ✓</span>
      } @else {
      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z">
        </path>
      </svg>

      <span>Add</span>
      }
    </button>
  </div>
</article>